<!-- views/rameon/3step.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    
        
	 <div class="container mb-3">

      <h2 class="mb-3">Cook</h2>  
            
     </div>
     
     <div class="container">
     <div class="row">
     	<div class="col-md-8">
     		<img src = "/images/rameon_Step3.gif" width = 700px height = 400px>

	 	</div>
	 	
	 	<div class="col-md-4">
   
    	<ul class="list-group">
    		<li class="list-group-item"><a href="/rameon">1step</a></li>
  	  		<li class="list-group-item"><a href="/rameon/2step">2step</a></li>
    		<li class="list-group-item"><a href="/rameon/3step">3step</a></li>
    		<li class="list-group-item"><a href="/rameon/4step">4step</a></li>
    	</ul>
    </div>
    
    
     </div>
    <div>
   	
       	<img src = "/images/rameon_third.jpg" width = 1200px height = 350px>
 
   	</div> 
    
   	</div>
   	
   	
      
    
  </body>
</html>